/****************************
	Project: Flickr Photos
	Date: Oct 30th 2015
	Author: Sura Karnawi
****************************/

/* Global Classes */
* {
  box-sizing: border-box;
}
.container{
	width: 910px;
	margin: 0 auto;
	position: relative;
}
.center{
    margin: 0 auto;
}
.center-txt {
	text-align: center;
}
.line-height-100{
	line-height: 100px;
}
.box-full{
	width:100%;
	clear:both;
}

.box-half{
	width:50%;
	float:left;
}

.box-third{
	width:33.335%;
	float: left;
}

hr{
	border-bottom: 4px solid #FFF;
	    margin: 0;
	clear: both;
}
/*Clearing Floats*/
.cf:before, .cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

.cf {
    zoom:1;
}  
/* Typography */
.blue{
	color: #0062dd;
}
.pink{
	color: #ff0084;
}
body, html , div , p , a , h1, h2 , h3 , h4 , h5 , h6 {
	color: #FFF;
}
h1, h2, h3, h4, h5, h6{
	font-family: "Times New Roman", Georgia, Serif;
}
p, a{
    font-family: sans-serif;
}

a {
	font-size: 14px;
}

a:hover{
	color: #ff0084;
}

h1{
	display: inline-block;
	font-size: 86px;
	font-weight: bold;
	color: #fcb712;
	margin-top: 18px;
    margin-bottom: 33px;
}

/* Layout */
header, footer, section {
    display: block;
    width: 100%;
    clear: both;
	margin: 0 auto;
    overflow: hidden;
    position: relative;
}

body {
	background: #060c15;
}
/* HEADER */
.search-box{
	margin-top:65px;
}
.search-box form{
	width: 350px;
	height: 30px;
	overflow: hidden;
	position: relative;
	float: right;
}
input#search {
	width: 100%;
	height: 100%;
    /*width: 350px;
    height: 30px;*/
	padding-left: 16px;
	color:#000;
}
input#search,
input#search:hover,
input#search :focus,
input#search:active{
	background: #FFF;
	border: 1px solid #ff0084;
	box-shadow: none;
}
input#submit {
    width: 23px;
    height: 27px;
	position: absolute;
    right: 3px;
    top: 2px;
    -webkit-appearance: none;
    z-index: 9999;
	background: url(../img/search-img.jpg) no-repeat;
	/*padding-left: 18px;
    padding-bottom: 9px;
    margin-left: -30px;*/
}
input#submit,
input#submit:focus,
input#submit:active,
input#submit:hover {
	background-color:#FFF;
    border: none;
	box-shadow: none;
} 

/* slider */
section#slider{
	overflow: hidden;
}
section#slider .container{
	margin-bottom: 70px;
}
.slider{
	min-height: 550px;
	background: url(../img/slider.jpg) repeat-x;
}
.slider p {
    display: block;
    text-align: center;
    margin: 12px auto;
}
a.share-btn {
    display: block;
	position: absolute;
    right: 0;
	top: 514px;
    z-index: 99999;
    text-decoration: none;
    background-color: #0062dd;
	padding: 0px 10px;
	line-height: 36px;
	font-weight: bold;
}
a.share-btn:hover {
	color: #FFF;
}
.social-media{
	display: none;
	background: url(../img/social-media.png) no-repeat;
	width: 194px;
	height: 84px;
	position: absolute;
    bottom: 30px;
    right: 0px;
	bottom: 30px;
    right: 0px;
    z-index: 9999999;
}
.social-media.hover {
	display: block;
}
a.share-btn.placeholder:hover +span {
    display: block;
} 
span.author {
    position: absolute;
    /* right: 0; */
    bottom: 0;
    z-index: 900;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #060c15;
}

/* Photos Section*/
.search-results li{
	display: block;
    width: 163px;
    height: 163px;
    float: left;
	overflow: hidden;
    margin-right: 22px;
    margin-bottom: 21px;
	position: relative;
	border: 1px solid transparent;
}

.search-results li:nth-child(5),
.search-results li:nth-child(5n +5) {
	margin-right: 0;
}

.search-results li:hover {
	border: 1px solid #0062dd;
}
/* Overlay solutions*/
.search-results li:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
	filter: gray; /* IE6 */
}
.search-results li:hover:after {
    opacity: 1;
}/* end overlay*/

.search-results li img{
	width: 100%;
	min-height: 163px;
	/*vertical-align: middle;*/
	height: auto;  
    position: absolute;
}
.search-results span {
	display: none;
}
.search-results hr{
	margin: 10px 0 100px 0;
}
p.no-search-results {
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
}

/* Footer */
footer {
	background-color: #0062dd;
	min-height: 190px;
}

