/* ==========================================================================
   Name: Main Stylesheet
   Author: Sura Karnawi
   Date: Sweet May 2017
   ========================================================================== */
/*
Color
*/
.color-white { color: #fff; }
.color-green { color: #1F914D; }
.bg-color-red { background-color: #ff5252; }
.bg-color-green { background-color: #1F914D; }
.color-yellow { color: #FEC43B; }
.bg-color-yellow { background-color: #FEC43B; }

/*
Layout
*/
body {
    overflow-x: hidden;
    padding-top: 50px;
}

section {
    margin-bottom: 30px;
}

section, foorer, header {
  overflow: hidden;
}

.top-space{
    margin-top: 15px;
}

/* Header  */
.jumbotron {
  overflow: hidden;
  background-attachment: fixed;
  background-image: url(../img/sura-pic-vintage.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
  min-height: 300px;
  background-position: right;
  background-position-y: 30px;
}

.sticky-banner {
  padding-top: 18px;
  background-image: url(../img/banner-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 250px;
  position: relative;
  background-attachment: fixed;
  background-position: left;
}

.navbar-inverse .navbar-nav>li>a {
  color: #9d9d9d;
  font-size: 19px;
}
.navbar-inverse .navbar-nav>li>a:hover{
  color: #ff5252;
}

.navbar-inverse .navbar-nav>li>a {
  color: #9d9d9d;
  font-size: 19px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #080808;
  font-size: 20px;
}
.navbar-brand{
  background: url('../img/sura-logo.png') no-repeat;
  width: 100px;
  height: 40px;
  background-size: 100%;
}
.cards {

}
footer a{
  margin: 10px;
  font-size: 35px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
footer i{
  color: #ff5252;
}
footer a i:hover {
  color: #337ab7;
}

/* Typography */
h1, h2, h3, h4, h5, h6, .nav > li >a, .navbar-brand {
    font-family: 'Cookie', cursive;
    font-family: 'Indie Flower', cursive;
    color: #ff5252;
}
.cards h3 {
  text-align: center;
}
.jumbotron h1 {
  font-size: 50px;
  color : #fff;
}
.jumbotron p {
  padding: 0 9px;
  font-size: 23px;
  color: #000;
}

#contact h2 { color: #FFF; }
#quote {
    font-style: italic;
    color: #000;
}
/* Contact section */
.error ul li {
    list-style: none;
}
section#contact {
    background: #ff5252;
    color: white;
}
section#contact a, section#contact h1{
    color: #FFF;
}
section#contact .btn-success {
    padding: 12px 60px;
    border-color: #4cae4c;
}
.help-block.text-danger {
    background-color: #FEC43B;
    color: black;
    border-radius: 4px;
}
.help-block ul {
    padding: 2px 12px;
}

/* ---- Masonry---- */
.grid-item { width: 200px;  border: 3px solid #FFF; }
.grid-item--width2 { width: 300px; }
.grid-item img{width: 100%;}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .jumbotron h1 {
      font-size: 20px;
    }
    .jumbotron p {
      font-size: 16px;
    }
    .jumbotron {
      background-position-x: 170%;
      background-size: 75%;
      min-height: 100px;
      min-height: auto;
      padding: 0;
    }
    .sticky-banner {
      display: none;
    }
    .grid-item { width: 135px; }
    .grid-item--width2 { width: 200px; }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)  and (min-width : 480px){
  .jumbotron h1 {
    font-size: 40px;
  }
  .jumbotron p {
    font-size: 20px;
  }
  .jumbotron {
    min-height: 240px;
    padding-bottom: 10px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}
