/* ==========================================================================
   Name: Main Stylesheet
   Author: Sura Karnawi
   Date: Sweet May 2017
   ========================================================================== */
/*
Color
*/
*, a {
  outline: none; }

.color-white {
  color: #fff; }

.color-green {
  color: #1F914D; }

.color-yellow {
  color: #FEC43B; }

.color-red {
  color: #ff5252; }

.bg-color-red {
  background-color: #ff5252; }

.bg-color-green {
  background-color: #1F914D; }

.bg-color-yellow {
  background-color: #FEC43B; }

.bg-color-white {
  background-color: #fff; }

/* Mixins */
/*
Layout
*/
body {
  overflow-x: hidden;
  padding-top: 55px; }

section {
  margin-bottom: 30px; }

section, footer, header {
  overflow: hidden; }

.top-space {
  margin-top: 15px; }

.flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center; }

/* Header  */
.jumbotron .row {
  display: flex; }
  .jumbotron .row .col-xs-7 {
    flex: 1; }

.bg-dotted {
  background-position: right;
  background-position-y: 30px;
  /* dotted backgroun */
  background: radial-gradient(#ff5252 20%, transparent 21%), -webkit-radial-gradient(#ff5252 20%, transparent 21%), 0 0;
  background-position: 0 0,7px 7px;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 14px 14px;
  background-attachment: fixed; }

.sticky-banner {
  padding-top: 18px;
  background-image: url(../img/banner-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 350px;
  position: relative;
  background-attachment: fixed;
  background-position: left; }

.navbar-inverse {
  background-color: #fff;
  border-color: #fff; }
  .navbar-inverse .navbar-toggle {
    border: none; }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
      border-color: #fff;
      background-color: #fff; }
    .navbar-inverse .navbar-toggle .icon-bar {
      border-radius: 1px;
      background-color: #ff5252;
      border-color: #ff5252;
      display: block;
      height: 5px;
      margin-top: 5px;
      width: 45px; }
  .navbar-inverse .navbar-nav li a {
    color: #ff5252;
    font-size: 19px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    .navbar-inverse .navbar-nav li a:hover, .navbar-inverse .navbar-nav li a:focus {
      color: #ff5252; }
  .navbar-inverse .navbar-nav li.active > a, .navbar-inverse .navbar-nav li.active > a:focus, .navbar-inverse .navbar-nav li.active > a:hover {
    font-size: 20px;
    color: #ff5252;
    background-color: transparent;
    border-bottom: 1px solid #ff5252; }

/* drop down */
@media (max-width: 767px) {
  .navbar-inverse .navbar-collapse {
    background-color: #ff5252;
    border-color: #ff5252; }
    .navbar-inverse .navbar-collapse ul.nav.navbar-nav {
      margin-left: 10px;
      width: 100%; }
      .navbar-inverse .navbar-collapse ul.nav.navbar-nav li {
        width: 100%; }
        .navbar-inverse .navbar-collapse ul.nav.navbar-nav li a {
          color: #fff;
          opacity: 0.7;
          width: 100%; }
          .navbar-inverse .navbar-collapse ul.nav.navbar-nav li a:focus, .navbar-inverse .navbar-collapse ul.nav.navbar-nav li a:hover {
            color: #fff;
            outline: none;
            opacity: 1; }
        .navbar-inverse .navbar-collapse ul.nav.navbar-nav li.active > a, .navbar-inverse .navbar-collapse ul.nav.navbar-nav li.active > a:focus, .navbar-inverse .navbar-collapse ul.nav.navbar-nav li.active > a:hover {
          background-color: transparent;
          border-bottom: 0px solid #fff;
          color: #fff;
          font-size: 22px;
          opacity: 1; } }
.navbar-brand {
  background-color: #fff;
  height: 40px;
  margin: 10px;
  padding: 10px;
  position: absolute;
  width: 200px; }
  .navbar-brand h1 {
    font-size: 20px;
    margin: 0;
    text-align: center; }

.navbar-nav {
  float: left;
  margin: 0;
  margin-left: 192px; }

#floating-house {
  display: block;
  float: right;
  max-width: 200px;
  width: 36%; }

.cards h3 {
  text-align: center;
  color: #fff; }
.cards p {
  text-align: justify; }
.cards .card {
  background-color: #ff5252;
  border-radius: 15px;
  margin: 20px;
  padding: 5px; }
  .cards .card .icon-bg {
    border: 1px solid #ff7878;
    border-radius: 15px;
    padding: 10px; }
    .cards .card .icon-bg.icon-spade {
      background: url(../img/icons/icon-spade.png), url(../img/icons/icon-spade.png); }
    .cards .card .icon-bg.icon-diamond {
      background: url(../img/icons/icon-diamond.png), url(../img/icons/icon-diamond.png); }
    .cards .card .icon-bg.icon-club {
      background: url(../img/icons/icon-club.png), url(../img/icons/icon-club.png); }
    .cards .card .icon-bg.icon-heart {
      background: url(../img/icons/icon-heart.png), url(../img/icons/icon-heart.png); }
    .cards .card .icon-bg.icon-spade, .cards .card .icon-bg.icon-diamond, .cards .card .icon-bg.icon-club, .cards .card .icon-bg.icon-heart {
      background-position: 2% 2%, 98% 98%;
      background-repeat: no-repeat;
      background-size: 19px; }
  @media (min-width: 768px) {
    .cards .card {
      width: 23%;
      margin: 1%;
      padding: 10px; } }

.spade-card {
  background: url(../img/icons/icon-card-club.png) no-repeat;
  background-size: 5%;
  background-position: 98% 15px; }

footer a {
  margin: 10px;
  font-size: 35px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  footer a i {
    color: #ff5252; }
    footer a i:hover {
      color: #337ab7; }
footer ul {
  text-align: center;
  list-style: none; }
  footer ul li {
    padding: 0 10px;
    display: inline-block; }

/* Typography */
h1, h2, h3, h4, h5, h6, .nav > li > a, .navbar-brand {
  font-family: 'Cookie', cursive;
  font-family: 'Indie Flower', cursive;
  color: #ff5252; }

.jumbotron h1 {
  font-size: 50px;
  color: #fff; }
.jumbotron p {
  padding: 0 9px;
  font-size: 23px;
  color: #000; }

p {
  font-size: 16px;
  font-weight: 200; }

blockquote {
  font-size: 18.5px;
  font-weight: 200; }

h1.color-red, p.color-red, h2.color-red {
  color: #ff5252; }

#contact h2 {
  color: #fff; }

#quote {
  font-style: italic;
  color: #000; }

/* Contact section */
.error ul li {
  list-style: none; }

section#contact {
  background: #ff5252;
  color: white; }
  section#contact a, section#contact h1 {
    color: #fff; }
  section#contact .btn-success {
    padding: 12px 60px;
    border-color: #4cae4c; }

.help-block.text-danger {
  background-color: #FEC43B;
  color: black;
  border-radius: 4px; }

.help-block ul {
  padding: 2px 12px; }

/* ---- Masonry---- */
.grid-item {
  width: 200px;
  border: 3px solid #fff; }

.grid-item--width2 {
  width: 300px; }

.grid-item img {
  width: 100%; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
.jumbotron {
  overflow: hidden;
  background-position: right;
  background-position-y: 30px;
  background-attachment: fixed;
  background-image: url(../img/sura karnawi sitting in a cafe in bath uk.jpg);
  background-repeat: no-repeat;
  background-size: 50%;
  min-height: 300px; }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .jumbotron {
    background-size: 77%;
    background-position-x: 213%;
    background-position-y: 24px;
    border-bottom: 2px solid #ff5252;
    min-height: auto;
    padding: 0; }
    .jumbotron h1 {
      font-size: 20px; }
    .jumbotron p {
      font-size: 14px;
      margin-bottom: 14px; }

  .sticky-banner {
    display: none; }

  .grid-item {
    width: 135px; }

  .grid-item--width2 {
    width: 200px; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) and (min-width: 480px) {
  .jumbotron {
    background-size: 64%;
    background-position-x: 140%; }

  .jumbotron h1 {
    font-size: 40px; }

  .jumbotron p {
    font-size: 20px; }

  .jumbotron {
    min-height: 240px;
    padding-bottom: 10px; } }
/* Medium Devices, Desktops */

/*# sourceMappingURL=styles.css.map */
