/*
 * Main CSS - Date July 20 2014
 */

 /****************************************************
 ** Typography ***************************************
 *****************************************************/
 body {
 	font-family: Verdana, Geneva, sans-serif;
 	font-size: 14px;
 	color: #333;
 }

 h1, h2, h3, h4, h5, h6{
 	font-family: Georgia, 'Times New Roman', Times, serif;
 }

h1 {
	color: #65b6ae;
	font-size: 60px;
	font-style: italic;
}

h2{
	font-size: 40px;
}

h3{
	color: #797676;
	font-style: italic;
	font-size: 25px;
}

h4{
	font-size: 22px;
}

/*****************************************************
 ** Color Schemes ************************************
 *****************************************************/
/* Terquoise background */
.terquoise-med-bg {
	background: #65b6ae;
}

/* Terquoise Dark */
.terquoise-bg {
	background-color: #38979d; 
}

.terquoise-font,
.terquoise-font a {
	color: #38979d; 
}

/* light grey color: #797676;*/
/* Dark Grey #333 */

/*****************************************************
 ** Global *******************************************
 *****************************************************/
.separator{
	border-top: 1px solid #d2d2d2;
}
.space-top {
	margin-top: 30px;
}

.space-bottom{
	margin-bottom: 30px;
}

.center{
	text-align: center;
}
/*****************************************************
 ** LAYOUT *******************************************
 *****************************************************/
.container {
	width: 940px;
}

 header .navbar-nav {
 	width: 100%;
 }

 header .navbar-nav ul {
 	list-style: none;
 }


 header .navbar-nav ul li {
	float: left;
	position: relative;
	display: block;
}

 header .navbar-nav ul li a {
 	color: white;
 	position: relative;
	display: block;
	padding: 10px 38px;
}

header .navbar-nav ul li.first a {
	padding-left:0;
}

header .subnav ul{
	list-style:none;
}

header .subnav li {
	display: inline-block;
	margin-left: 14px;
	margin-top: 10px;
	margin-right: 60px;
}

header .subnav li  a{
	font-size: 13px;
	font-weight: bold;
}

header .logo {
	margin-top: 30px;

}
 header .logo img {
 	width: 200px;
 	height: auto;
 }

/*****************************************************
 ** SLIDES *******************************************
 *****************************************************/
#slides{
}
#slides ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*****************************************************
 ** HOME *******************************************
 *****************************************************/

 /*****************************************************
 ** PRODUCTS *******************************************
 *****************************************************/
.single-product img{
	height: 275px;
	width: auto;
	display: block;
	margin: auto;
}

/*****************************************************
 ** FOOTER *******************************************
 *****************************************************/
 footer .logo img{
 	width: 150px;
 	height: auto;
 }

 footer .location {
 	font-size: 13px;
 }
 
  footer .location img{
 	width: 160px;
 }